rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /categories/{doc} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /items/{doc} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /inquiries/{doc} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }
  }
}

